anonymous_enable={{ anonymous_enable }}
anon_upload_enable={{ anon_upload_enable }}
anon_mkdir_write_enable={{ anon_mkdir_write_enable }}
anon_root={{ anon_root_dir }}
write_enable={{ write_enable }}
